.paral {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

/* Paragrapgh for Parallax Section */
.paral img {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

/* Heading for Parallax Section */
.paral h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 60px;
    text-align: center;
    padding-top: 60px;
    line-height: 100px;
}

/* Image for Parallax Section */
.paralsec {
    background-image: url("../images/Banner/desk.png");
}

.paralsec1 {
    background-image: url("https://img.webnots.com/2017/05/parallax1.jpg");
}

.paralsec2 {
    background-image: url("https://img.webnots.com/2015/11/parallax2.jpg");
}

/* Add more images for more sections */

/* Remove Bottom Margin from Jumbotron */
.jumbotron {
    margin-bottom: 0;
}

/* Footer */
.wn-footer {
    padding: 2.5rem 0;
    text-align: center;
    color: white;
    background-color: #607D8B;
    border-top: .05rem solid #e5e5e5;
}

.wn-footer a {
    color: yellow;
}