@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;800&display=swap');

@import url('nav.css');
@import url('footer.css');
@import url('buttons.css');
@import url('backgrounds.css');
@import url('sizes.css');
@import url('navbar.css');
@import url('hamburguer.css');
@import url('cards.css');
@import url('charger.css');
@import url('slider.css');
@import url('hover-min.css');



* {
    font-family: 'Catamaran', sans-serif;
}


h2 {
    line-height: 1.8em;
}

p {
    font-size: 1.2em;
    line-height: 2.1em;
}


#facebook {
    color: blue;
}


#likes {
    color: cornflowerblue;
}